

#typeButtons{
    width: 100%;
    display: inline;
    margin-top: -5px;
}

#typeButtons .btn{
    width: 49%;
}

#comparingProduction{
    float: left;
}

#comparingConsumption{
    float: right;
}

#ecoComparing{
    /*display: none;*/
}


@media screen and (min-device-width: 1300px) and (min-device-height: 600px) {

    #typeButtons{
        display: none;
    }

}


.buttonForDesktop{
    margin-left:5%;
    width: 30%;
}

.buttonForDesktop .btn{
    border: 1px solid #108F38;
    background: #108F38;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    margin-left: 0;
    color: #FFFFFE;
    width: 49%;
}

.mainDesktop{
    width: 70%;
    float: left;
}

.ecoComparingDesktop{
    width: 230px;
    /*float: right;*/
}


.buttonForDesktop .btn:hover{
    background-color: #23527c;
    color: #FFFFFE;
}

.comparingEco{

}

.comparingTrees{
    float:right;

}
#ourCompanyTrees{
    width:100px;
    height:100px;
    background-color: #59AC28;
    margin:5px;


}

#theirCompanyTrees{
    width:100px;
    height:100px;
    background-color: #59AC28;
    margin:5px;

}

.comparingCarbon{
    float:right;



}

#ourCompanyCarbon{
    width:100px;
    height:100px;
    background-color: #59AC28;
    margin:5px;
}

#theirCompanyCarbon{
    width:100px;
    height:100px;
    background-color: #59AC28;
    margin:5px;
}


.comparingPanel{
    width:220px;
    display:inline;
    float:right;
}

#ourCompanyPanel{
    width:100px;
    height:100px;
    background-color: #59AC28;
    margin:5px;
}

#theirCompanyPanel{
    width:100px;
    height:100px;
    background-color: #59AC28;
    margin:5px;
}
