

#typeButtons{
    width: 100%;
    display: inline;
    margin-top: -5px;
}

#typeButtons .btn{
    width: 49%;
}

#comparingProduction{
    float: left;
}

#comparingConsumption{
    float: right;
}

#ecoComparing{
    /*display: none;*/
}



@media screen and (min-device-width: 1300px) and (min-device-height: 600px) {

    #typeButtons{
        display: none;
    }

}


.buttonForDesktop{
    margin-left:5%;
    width: 30%;
}

.buttonForDesktop .btn{
    border: 1px solid #108F38;
    background: #108F38;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    margin-left: 0;
    color: #FFFFFE;
    width: 49%;
}

.buttonForDesktop .btn:focus{
    outline:0;
}

#comparingProduction{
    border-color: #108f38;
    background-color: #fffffe;
    color: #108f38;
}


.mainDesktop{
    width: 70%;
    float: left;
    margin-left:5%;
    margin-top:5px;
}

.ecoComparingDesktop{
    width: 230px;
    float: right;
    margin-right:5%;
}


.buttonForDesktop .btn:hover{
    background-color: #23527c;
    color: #FFFFFE;
}

.comparingEco{
color:#FFFFFE;
    cursor: default;
}

.comparingEco .compare{
    text-align: center;
}

.comparingTrees{
    float:right;
}

#ourCompanyTrees .icon-tree,
#theirCompanyTrees .icon-tree{
    margin-top: 15px;
    font-size: 3em;
}

#ourCompanyTrees{
    width:100px;
    height:100px;
    background-color: #59AC28;
    margin:5px;
    float:left;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}


#theirCompanyTrees{
    width:100px;
    height:100px;
    background-color: #DC143C;
    margin:5px;
    float:right;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;

}
#ourCompanyTrees .compareValue,
#theirCompanyTrees .compareValue {
    padding-top:5px;
    text-align: center;
    font-size: 2.2em;
}

.comparingCarbon{
    float:right;
}

#ourCompanyCarbon{
    width:100px;
    height:100px;
    background-color: #59AC28;
    margin:5px;
    float:left;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}
#ourCompanyCarbon .icon-factory,
#theirCompanyCarbon .icon-factory{
    margin-top: 10px;
    font-size: 3em;
}
#ourCompanyCarbon .compareValue,
#theirCompanyCarbon .compareValue{
    padding-top:5px;
    text-align: center;
    font-size: 0.66em;
}

#theirCompanyCarbon{
    width:100px;
    height:100px;
    background-color: #DC143C;
    margin:5px;
    float:right;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}


.comparingPanel{
    width:220px;
    display:inline;
    float:right;
}

#ourCompanyPanel{
    width:100px;
    height:100px;
    background-color: #59AC28;
    margin:5px;
    float:left;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

#theirCompanyPanel{
    width:100px;
    height:100px;
    background-color: #DC143C;
    margin:5px;
    float:right;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}
#theirCompanyPanel .icon-solarpanel,
#ourCompanyPanel .icon-solarpanel{
    margin-top: 5px;
    text-align: center;
    font-size: 4em;
}
#theirCompanyPanel .compareValue,
#ourCompanyPanel .compareValue{

    padding-top:5px;
    text-align: center;
    font-size: 2.2em;
}

#compareCompanyInfo{
    /*position:absolute;*/
    /*top:145px;*/
    /*left:5%;*/
    float:left;
    margin-top:10px;
    margin-left:5%;
    margin-bottom: 10px;
    width: 30%;
    /*height: 0px;*/
    color: #FFFFFE;

    /*background-color: #888888;*/
}

.comparingCompanyEnergyValue{

    text-align: center;
    font-size: 1.3em;

}

#ourCompanyEnergy {

    width:49%;
    /*height:100px;*/
    float:left;
    background-color: #59AC28;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
    cursor: default;
}

#theirCompanyEnergy {
    width:49%;
    /*height:100px;*/
    float:right;
    background-color: #DC143C;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-bottom: 10px;
    cursor: default;
}

.compareCompanyTitle {
    float:none;
    width: 100%;
    text-align:center;
    font-size:2em;
    padding-top:10px;
    margin-bottom: 10px;
}

.ecoComparingEnergyMobile{
    color:#fffffe;
    margin: 0 2%;
}
.ecoComparingEnergyMobile #ourCompanyEnergy,
.ecoComparingEnergyMobile #theirCompanyEnergy{
    margin-bottom:5px;
}

.ecoComparingMobile{
    margin: 2%;
}
.ecoComparingMobile #ourCompanyTrees,
.ecoComparingMobile #theirCompanyTrees,
.ecoComparingMobile #ourCompanyCarbon,
.ecoComparingMobile #theirCompanyCarbon,
.ecoComparingMobile #ourCompanyPanel,
.ecoComparingMobile #theirCompanyPanel{
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width:49%;
    margin:0 0 5px 0;
    height: 75px;


}
.ecoComparingMobile .comparingTrees,
.ecoComparingMobile .comparingCarbon,
.ecoComparingMobile .comparingPanel{
    float:none;
    width:100%;
    margin:5px 0;
    /*margin: 5px 2%;*/
}

.ecoComparingMobile #theirCompanyTrees,
.ecoComparingMobile #theirCompanyCarbon,
.ecoComparingMobile #theirCompanyPanel{
    /*margin-right: 2%;*/
}