#ecoComparing {
    padding: 10px;
}


.eco{
    float:left;
    width: 44%;
    margin-top: 10px;
    margin-left: 5%;
    margin-bottom: 10px;
    font-weight: 500;

}

.ecoRow{
    background-color: #59AC28;
    color: #FFFFFE;
    font-size: 1.4em;
    width: 40%;

    padding: 2px;
    margin-right: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor:default;
}

#ecoTrees{
    float:left;
}


#ecoCarbon{
    float:left;
}
#ecoTrees #treeIco,
#ecoCarbon #carbonIco{
    width: 20%;
    float:left;
    margin-left:10px;
    padding:5px;
    font-size: 2.0em;
}
.ecoValueWrapper{
    width: 70%;
    margin-left: 20%;
    /*padding-top: 5px;*/
}
.ecoValue{
    width: 100%;
    text-align: center;

}

.energyRow{
    display: inline;
    width: 30%;
    /*height:80px;*/
    margin-top:10px;
    margin-right: 10px;
    background-color: #59AC28;
    color: #FFFFFE;
    font-size: 1.2em;
    padding: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor:default;

}
#totalMonthly{
    clear:left;
    float: left;
    text-align: center;

}
#totalYearly{
    float:left;
    text-align: center;

}
#totalTotal{
    float:left;
    text-align: center;
}
.energyTitle{
    padding:3px;
}
.energyValue{
    padding:0 5px 3px 5px;
}

@media screen and (min-device-width: 1250px) and (max-device-width: 1600px){
    .ecoRow{
        font-size: 1.7em;
        width: 41%;
        padding: 5px;
    }

    #ecoTrees #treeIco,
    #ecoCarbon #carbonIco{
        width: 20%;
        font-size: 2.3em;
    }

    .energyRow{
        width: 27%;
        font-size: 1.3em;
    }

    .eco{
        width: 40%;
        /*font-weight: 600;*/
    }

}

@media screen and (min-device-width: 1601px) and (max-device-width: 1900px){
    .ecoRow{
        font-size: 1.9em;
        width: 41%;
        padding: 5px;
        line-height: 22px;
    }

    #ecoTrees #treeIco,
    #ecoCarbon #carbonIco{
        width: 20%;
        font-size: 2.5em;
    }

    .energyRow{
        width: 27%;
        font-size: 1.5em;
    }

    .eco{
        width: 38%;
        /*font-weight: 600;*/
    }

}

@media screen and (min-device-width: 1901px){
    .ecoRow{
        font-size: 2em;
        width: 41%;
        padding: 10px;
        line-height: 22px;
    }

    #ecoTrees #treeIco,
    #ecoCarbon #carbonIco{
        width: 20%;
        font-size: 2.5em;
    }

    .energyRow{
        width: 27%;
        font-size: 1.5em;
        padding-bottom: 5px;
        line-height: 17px;
    }

    .eco{
        width: 35%;
        font-weight: 600;
    }

}

.mobilEco{
    float:none;
     width: 100%;
     margin:0;
    padding: 0 5px;

 }

.mobilEco .ecoRow{
    padding-left: 0;
    width: 45%;

}
.mobilEco #ecoCarbon{
    float:right;
    margin-right: 0;
}

.mobilEco .energyRow {
    width:100%;
   margin-right: 5px;
    padding: 0 5px;
    float:none;
}
.mobilEco #totalMonthly,
.mobilEco #totalYearly,
.mobilEco #totalTotal{
    /*float:none;*/
    margin-right: 5px;

}

/*===== APPLIANCE SECTION ======*/
.applianceSection{
    /*float: left;*/
    margin: 5px auto 0;
    width: 100%;
    height: 55px;
    /*border-radius: 5px;*/
    color: #00BFFF;
    font-size: 1em;
    padding-bottom: 0;
    padding-top: 0;
    /*background-color: #c8e5bc;*/
    /*border: 1px solid #59AC28;*/

}

.applianceBlock{
    width: 22.5%;
    float: left;
    /*background-color: #59AC28;*/
    border: 1px solid #108f38;
    border-radius: 5px;
    margin:0 1.25%;

}

.appliancePicture{
    width: 40%;
    float: left;
    text-align: center;
    margin-top: 5px;
}

.appliancePicture i{
   font-size: 4em;
    color: #108f38;
}

.applianceValue{
    width: 58%;
    float: right;
    font-size: 1.2em;
    margin-top: 7px;
}

.applianceValue div{
    margin-bottom: 7px;
    text-align: center;
}

.applianceValue div:first-child{
    color: #59AC28;
}

.applianceTotal{
    float: left;
    font-size: 1.2em;
    margin-top: 7px;
    text-align: center;
    width: 100%;
}

.applianceTotal div{
    padding-left: 5px;
    margin-bottom: 7px;
    text-align: center;
}
.applianceTotal div:first-child{
    color: #59AC28;
}

@media screen  and (max-device-width: 575px){
    .applianceTotal{
        font-size: 1em;
    }

    .applianceValue{
        font-size: 1em;
    }

    .appliancePicture i{
        font-size: 3em;
    }

    .applianceBlock div{
        display: block;
        float: none;
        width: 100%;
        text-align: center;
    }

    .applianceValue {
        margin-bottom: 0px;
    }

    .applianceValue div{
        margin-bottom: 4px;
    }


}


.applianceBlockSingle .appliancePicture{
    margin-top:2px;
}

.applianceBlockSingle .appliancePicture i{
    font-size: 3em;
}

.applianceBlockSingle .applianceValue, .applianceBlockSingle .applianceTotal{
    padding: 3px 0;
}

@media screen and (min-device-width: 465px) and (max-device-width: 575px){
    .applianceTotal{
        padding: 15px 0;
    }

    .applianceBlockSingle .applianceValue{
        margin-top: 0;
    }

     .applianceBlockSingle .applianceTotal{
        padding: 15px 0;
    }

}

@media screen  and (max-device-width: 464px){
    .applianceBlockSingle .applianceTotal{
        padding: 11px 0;
    }

}