/*
 *
 * Awesome Flat Login Form
 * http://lunarpixel.deviantart.com/
 * Copyright 2014, LunarPixel
 *
 */

@import "http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    margin: 0;

  font: 13px/20px "Open Sans", Tahoma, Verdana, sans-serif;
  color: #a7a599;

}

/* === Form === */
.form {
    width: 100%;
}

.form .field {
    position: relative;
    margin: 0 50px;
}

.form .field i {
    font-size: 14px;
    left: 0px;
    top: 0px;
    position: absolute;
    height: 44px;
    width: 44px;
    color: #f7f3eb;
    background: #676056;
    text-align: center;
    line-height: 44px;
    transition: all 0.3s ease-out;
    pointer-events: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-top-left-radius: 2px;
    -moz-border-bottom-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
}

/* === Logo === */
.logo {
  background-image: url("../images/logo.svg");
  background-position: center;
  height: 90px;
  width: 250px;
  margin: 10px auto 10px auto;
}

/* === Login === */
.login {
  position: relative;
  margin: 0 auto;
  width: 370px;
  height: 315px;
  /*background: #E1E2D1;*/
  border-radius: 3px;
}

.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.login h1 {
    width:80%;
    margin: 0 auto 0;
  line-height: 55px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background: #59AC28;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#opacityBlock {
    width:80%;
    height:205px;
    position:absolute;
    left:10%;
    background: #ffffff;
    opacity:0.5;
}

.login p:first-child {
  margin-top: 25px;
}

.login p.remember {
  float: left;
}

.login p.remember label {
  color: #a7a599;
  font-size: 12px;
  cursor: pointer;
}

.login p.submit {
  text-align: center;
}

.login p.forgot {
  float: right;
  margin-right: 50px;
}

.login p.forgot a {
  color: #a7a599;
  font-size: 12px;
  text-decoration: none;
  font-style: italic;
  transition: all 0.3s ease-out;
}

.login p.forgot a:hover {
  color: #108f38;
}

/* === Input Form === */
::-webkit-input-placeholder {
  color: #ded9cf;
  font-family:'Open Sans';
}

:-moz-placeholder {
  color: #ded9cf !important;
  font-family:'Open Sans';
}

.form input[type=text],
.form input[type=password] {
    font-family: 'Open Sans', Calibri, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 15px 10px 50px;
    position: relative;
    width: 200px;
    height: 24px;
    color: #676056;
    border: none;
    background: #f7f3eb;
    color: #777;
    transition: color 0.3s ease-out;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.form input[type=text] {
    margin-bottom: 15px;
}

.form input[type=text]:hover ~ i,
.form input[type=password]:hover ~ i {
    color: #ded9cf;
}

.form input[type=text]:focus ~ i,
.form input[type=password]:focus ~ i {
    color: #108f38;
}

.form input[type=text]:focus,
.form input[type=password]:focus,
.form button[type=submit]:focus {
    outline: none;
}

.form button[type=submit] {
  margin-top: 15px;
  width: 80%;
  text-align: center;
  font-size: 14px;
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
  padding: 12px 0;
  letter-spacing: 0;

  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(16,143,56,1);
  -moz-box-shadow:    inset 0px 0px 0px 0px rgba(16,143,56,1);
  box-shadow:         inset 0px 0px 0px 0px rgba(16,143,56,1);

  color: #fff;
  background-color: #108f38;
  text-shadow: none;
  text-transform: uppercase;
  border: none;
    border-radius-bottomleft: 2px;
    border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    border-radius:0 0 2px 2px;
    -webkit-border-radius-bottomleft: 2px;
    -webkit-border-radius-bottomright: 2px;
    cursor: pointer;
  position: relative;
  margin-bottom: 20px;
  -webkit-animation: shadowFadeOut 0.4s;
  -moz-animation: shadowFadeOut 0.4s;
}



.form button[type=submit]:hover,input[type=submit]:focus{
  color: #fff;
  -webkit-box-shadow: inset 0px 50px 0px 0px rgba(89,172,40,1);
  -moz-box-shadow:    inset 0px 50px 0px 0px rgba(89,172,40,1);
  box-shadow:         inset 0px 50px 0px 0px rgba(89,172,40,1);
  -webkit-animation: shadowFade 0.4s;
  -moz-animation: shadowFade 0.4s;
}

@keyframes shadowFade {
    0% {
      -webkit-box-shadow: inset 0px 0px 0px 0px rgba(89,172,40,1);
      -moz-box-shadow:    inset 0px 0px 0px 0px rgba(89,172,40,1);
      box-shadow:         inset 0px 0px 0px 0px rgba(89,172,40,1);
      color: #fff;
    }
    100% {
      -webkit-box-shadow: inset 0px 46px 0px 0px rgba(89,172,40,1);
      -moz-box-shadow:    inset 0px 46px 0px 0px rgba(89,172,40,1);
      box-shadow:         inset 0px 46px 0px 0px rgba(89,172,40,1);
      color: #fff;
    }
}

@keyframes shadowFadeOut {
    0% {
      -webkit-box-shadow: inset 0px 46px 0px 0px rgba(89,172,40,1);
      -moz-box-shadow:    inset 0px 46px 0px 0px rgba(89,172,40,1);
      box-shadow:         inset 0px 46px 0px 0px rgba(89,172,40,1);
      color: #fff;
    }
    100% {
      -webkit-box-shadow: inset 0px 0px 0px 0px rgba(89,172,40,1);
      -moz-box-shadow:    inset 0px 0px 0px 0px rgba(89,172,40,1);
      box-shadow:         inset 0px 0px 0px 0px rgba(89,172,40,1);
      color: #fff;
    }
}

@-webkit-keyframes shadowFade {
    0% {
      -webkit-box-shadow: inset 0px 0px 0px 0px rgba(89,172,40,1);
      -moz-box-shadow:    inset 0px 0px 0px 0px rgba(89,172,40,1);
      box-shadow:         inset 0px 0px 0px 0px rgba(89,172,40,1);
      color: #fff;
    }
    100% {
      -webkit-box-shadow: inset 0px 46px 0px 0px rgba(89,172,40,1);
      -moz-box-shadow:    inset 0px 46px 0px 0px rgba(89,172,40,1);
      box-shadow:         inset 0px 46px 0px 0px rgba(89,172,40,1);
      color: #fff;
    }
}

@-webkit-keyframes shadowFadeOut {
    0% {
      -webkit-box-shadow: inset 0px 46px 0px 0px rgba(89,172,40,1);
      -moz-box-shadow:    inset 0px 46px 0px 0px rgba(89,172,40,1);
      box-shadow:         inset 0px 46px 0px 0px rgba(89,172,40,1);
      color: #fff;
    }
    100% {
      -webkit-box-shadow: inset 0px 0px 0px 0px rgba(89,172,40,1);
      -moz-box-shadow:    inset 0px 0px 0px 0px rgba(89,172,40,1);
      box-shadow:         inset 0px 0px 0px 0px rgba(89,172,40,1);
      color: #fff;
    }
}

@-moz-keyframes shadowFade {
    0% {
      -webkit-box-shadow: inset 0px 0px 0px 0px rgba(89,172,40,1);
      -moz-box-shadow:    inset 0px 0px 0px 0px rgba(89,172,40,1);
      box-shadow:         inset 0px 0px 0px 0px rgba(89,172,40,1);
      color: #fff;
    }
    100% {
      -webkit-box-shadow: inset 0px 46px 0px 0px rgba(89,172,40,1);
      -moz-box-shadow:    inset 0px 46px 0px 0px rgba(89,172,40,1);
      box-shadow:         inset 0px 46px 0px 0px rgba(89,172,40,1);
      color: #fff;
    }
}

@-moz-keyframes shadowFadeOut {
    0% {
      -webkit-box-shadow: inset 0px 44px 0px 0px rgba(89,172,40,1);
      -moz-box-shadow:    inset 0px 44px 0px 0px rgba(89,172,40,1);
      box-shadow:         inset 0px 44px 0px 0px rgba(89,172,40,1);
      color: #fff;
    }
    100% {
      -webkit-box-shadow: inset 0px 0px 0px 0px rgba(89,172,40,1);
      -moz-box-shadow:    inset 0px 0px 0px 0px rgba(89,172,40,1);
      box-shadow:         inset 0px 0px 0px 0px rgba(89,172,40,1);
      color: #fff;
    }
}

.form input[type="checkbox"] {
    display:none;
}

.form input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    margin: -2px 4px 0 50px;
    vertical-align:middle;
    background:url("../images/checkbox.png") left top no-repeat;
    cursor:pointer;
}
.form input[type="checkbox"]:checked + label span {
    background:url("../images/checkbox.png") -16px top no-repeat;
}

/* === Copyright === */
.copyright {
  margin-top: 30px;
  text-align: center;
}

.copyright p, a {
  color: #828078;
  font-size: 12px;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

/*.copyright a:hover {*/
  /*color: #f2672e;*/
/*}*/
/*input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {*/
    /*background-color: rgb(0, 255, 189);*/
    /*background-image: none;*/
    /*color: rgb(0, 0, 0);*/
/*}*/


#mainblock{
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    background: url(../images/background4.jpg);
    -moz-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover;  /*Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
    position: absolute;
}



@media screen and (min-width: 331px) and (max-width: 369px){
    .login{
        width: 90%;
    }
    .form .field {
        width: 79%;
        margin: 0 auto;
    }

    .form input[type=text],
    .form input[type=password]{
        width: 70%;
        padding: 10px 15px 10px 55px;
    }

    .form button[type=submit]{
        width: 80%;
        margin: 15px 13% 15px 10%;
    }

    .remember {
        margin-top: 5px;
        margin-left: -4%;
    }
}

@media screen and (max-width: 330px){
    .login{
        width: 90%;
    }
    .form .field {
        width: 79%;
        margin: 0 auto;
    }

    .form input[type=text],
    .form input[type=password]{
        width: 70%;
        padding: 10px 15px 10px 54px;
    }

    .form button[type=submit]{
        width: 80%;
        margin: 15px 13% 15px 10%;
    }
    .remember {
    margin-left: -7%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px){
    .login{
        margin-top: 50px;
        width: 440px;
        height: 375px;
        font-size: 20px;
    }
    .login h1 {
        width:80%;
    }
    form{
        padding-top: 27px;
    }
    .form button[type=submit] {
        margin-top: 25px;
        width: 80%;
        font-size: 20px;
        padding: 9px 0;
        /*margin-left: -8%;*/
    }
    .form input[type=text],
    .form input[type=password] {
        font-size: 16px;
        font-weight: 500;
        /*width: 233px;*/
        width: 76%;
        padding: 10px 15px 10px 60px;
    }
    .form .field {
        margin: 0 65px;
    }
    #lab {
      font-size: 18px;
        color:#000000;
    }
    .remember{
        margin-top: 4%;
        margin-left: 15px;
    }
    #opacityBlock {
        left:10%;
        width: 352px;
        height: 267px;
    }
}

@media screen and (min-width: 1201px){
    .login{
        margin-top: 90px;
        width: 510px;
        height: 400px;
        font-size: 24px;
    }
    .login h1 {
        width:80%;
    }
    form{
        padding-top: 35px;
    }
    .form button[type=submit] {
        margin-top: 35px;
        width: 80%;
        font-size: 24px;
        padding: 9px 0;
        /*margin-left: -8%;*/
    }
    .form input[type=text],
    .form input[type=password] {
        font-size: 18px;
        font-weight: 500;
        /*width: 233px;*/
        width: 78%;
        padding: 10px 15px 10px 65px;
    }
    .form .field {
        margin: 0 65px;
    }
    #lab {
        font-size: 20px;
        color:#000000;
    }

    .remember{
        margin-top: 4%;
        margin-left: 15px;
    }
    #opacityBlock {
        left:10%;
        width: 408px;
        height: 293px;
    }
}

#wrongInf{
    padding-top: 7px;
    background-color: #E53337;
    color: #ffffff;
    width: 100%;
    height: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    visibility: hidden;

}