body {
    width: 100%;
    min-height:100%;
    /*position:relative;*/
    margin: 0;
    padding: 0;
   /* background-color: #FFFFFE;*/
    font: 100%/1.5em Verdana, Helvetica, sans-serif;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;

}

 #date {
     margin: 8px auto 10px;
     width: 70%;
     padding: 0;
}
#periodMenuButtons{
    width: 88%;
    margin: auto;
}

#typeButtons {
    text-align: left;
    width: 50%;
    float: left;
}

#typeButtons .btn:focus {
    outline:0;
}

#typeButtons .btn:hover {
    background-color: #23527c;
    color: #FFFFFE;
}

#typeButtons .btn {
    border: 1px solid #108F38;
    background: #108F38;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 23%;
    display: inline-block;
    margin-top: 5px;
    margin-right: 0.5%;
    color: #FFFFFE;
}

#period {
    margin: 8px auto 10px;
    width: 100%;
}

#period .btn {
    border: 1px solid #108F38;
    background: #108F38;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 23%;
    display: inline-block;
    margin-left: 0%;
    margin-right: 0.5%;
    color: #FFFFFE;
    /*margin: 0 auto;*/
}

#period .btn:focus {
    outline:0;
}

#period .btn:hover {
    background-color: #23527c;
    color: #FFFFFE;
}


#period #day{
    background-color: #FFFFFE;
    color: #108F38;
}

#emptyDiv{
    width: 100%;
    height: 1px;
    clear: both;
}


.header{
     padding-top: 5px;
     padding-bottom: 5px;
     width: 100%;
    height: 35px;
     background-color: #59AC28;
 }
#logoMobile img{
    width: 70px;
    position: absolute;
    left: 5px;
    top: 5px;
}
#headerTitle{
    width: 100%;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    color: #FFFFFE;
    font-size: 1.9em;
}

.header1 {


}
#deskMenu{
    background-color: #59AC28;
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    color: #FFFFFE;
}


.footer{
    position:fixed;
    bottom:0;
    left:0;
    /*display: inline;*/
    width: 100%;
    margin: 0;
    height: 50px;
    min-width: 250px;
    background-color: #59AC28;
}

.mainButtons{
    padding: 5px 10px;
    margin-left: -0.36em;
    text-align: center;
    display: inline-block;
    width: 20%;
    background-color: #59AC28;
    color: #FFFFFE;
    cursor:pointer;
}

.mainButtons:hover{
    background-color: #23527c;
}

.bigButtonsFont:hover{
    background-color: #108f38;
    color: #FFFFFE;
    cursor: hand;
}


.mainButtons:active{
    background-color: #46b8da;
}


#kwt{
    width: 90%;
    position: absolute;
    bottom: 60px;
    left: 5%;

}

#kwtButton {
    border: none;
    text-align: center;
    background-color: #FFFFFE;
}

#kwtInput {
    margin: 0 auto;
    width: 70%;
    height: 40px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    font-size: 1.25em;
    font-weight: 800;
    color: #000000;
    text-align: center;
}

main{
    margin: 10px auto;
    width: 90%;
    /*overflow-y: scroll;*/
    height: 300px;
        /*border: 2px solid #E8E8E8;*/
}



#min, #max{
    padding: 5px;
    background-color: #FFFFFE;
    border: none;
    color: #108F38;
    font-size: large;

}

#datepicker {
    padding: 5px;
    background-color: #108F38;
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    font-size: 1.25em;
    color: #FFFFFE;
    font-weight: normal;
    text-align: center;
    border: 1px solid #108F38;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#datepicker :active {
    border: 1px solid #108F38;
    cursor: pointer;
}

#datepicker :focus {
    cursor: pointer;
}

#datepicker :hover {
    cursor: pointer;
}

#pd {
    text-align:center;

}

/*@media screen and (max-device-height: 450px)  {*/
    /*main{*/
        /*margin-bottom: 150px;*/
    /*}*/
    /*.container-fluid{*/
        /*overflow-y: scroll;*/
    /*}*/
/*}*/

.row{
    width: 90%;
    margin: 5px auto;
}

#radiation{
    background-color: #108F38;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    margin: 0;
    /*width: 100%;*/
    float: right;
   }

@media screen and (min-device-height: 650px) and (max-device-width: 1450px) {
    main{
        margin-top: 50px;
        height: 60%;
    }
}

