#body{
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-color: #FFFFFE;*/
    font: 100%/1.5em Verdana, Helvetica, sans-serif;
}
#main1{
    /*height: 340px;*/
    width: 95%;
    margin: 0 auto;
    padding: 0;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    /*border: 1px solid #108f38;*/
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.rating span{
    cursor: pointer;
}

#weatherMenuButtons{
    width: 100%;
    margin: auto;
}

#cButtons {
    margin: 8px auto 10px;
    width: 95%;
}

#head{
    margin: 0px auto;
    text-align: center;
    color: #FFFFFE;
    background-color: #59AC28;
    padding: 10px;
    width: 95%;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #108f38;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-top-right-radius: 2px;
    -moz-border-top-left-radius: 2px;
    cursor:default;
}

#cButtons .btn {
    border: 1px solid #108F38;
    background: #108F38;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 33%;
    /*display: inline;*/
    /*margin-left: -0.23em;*/
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFE;
    margin-left: 0;
    padding-left: 2px;
    
}

#cButtons .btn:focus {
    outline:0;
}

#cons{
    float: left;
}

#cButtons #overScore{
    margin-left: 0.5%;
   }

#cButtons #prod{
    float: right;
    background-color: #FFFFFE;
    color: #108F38;
}


#cButtons .btn:hover {
    background-color: #23527c;
    color: #FFFFFE;
}




.rating{
    margin: 0;
    padding: 10px 5px 10px;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    border: 1px solid #108f38;
    border-top: none;
}

.rating .ratingSymbol {
    /*color: #0000ff;*/
    font-weight: 900;
    float: right;
}

.rating .fa-arrow-down {
    color: #ff0000;
}

.rating .fa-minus {
    color: #0000ff;
}

.rating .fa-arrow-up {
    color: #108f38;
}

.pageButtons{
    width: 95%;
    margin: 0px auto;
    padding: 0px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    cursor:pointer;
}

#up, #down{
    padding: 0px;
    width: 95%;
    color: #FFFFFE;
    background-color: #108f38;
}

#up1{
    width: 95%;
    margin: 0px auto;
    padding: 5px;
    border-left: 1px solid #108f38;
    border-right: 1px solid #108f38;

}

 #down {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
    -moz-border-bottom-left-radius: 2px;
}

.pageButtons  :hover{
    color: #108f38;
    width: 100%;
    background-color: #FFFFFE;
    border: 1px solid #108f38;
    margin-top: 0;
    padding-top: 0;
}

.pageButtons #down :hover{
    border-top: none;
}

#ratingNonePublic{
    width: 100%;
    margin-top:20px;
    padding: 50px auto;
    text-align: center;
    font-size: 1.5em;
    color: #FF1100;
    line-height: 1.5em;

}
/*@media screen and (max-width: 322px){*/
    /*#cButtons {*/
        /*margin-left: 3.7%;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 323px) and (max-width: 450px){*/
    /*#cButtons {*/
        /*margin-left: 3.5%;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 451px) and (max-width: 500px){*/
    /*#cButtons {*/
        /*margin-left: 3.3%;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 501px) and (max-width: 600px){*/
    /*#cButtons {*/
        /*margin-left: 3.2%;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 601px) and (max-width: 700px){*/
    /*#cButtons {*/
        /*margin-left: 3.1%;*/
    /*}*/
/*}*/


/*@media screen and (min-width: 701px) and (max-width: 800px){*/
    /*#cButtons {*/
        /*margin-left: 3%;*/
    /*}*/
/*}*/

/*@media screen and (min-width: 801px) and (max-width: 900px){*/
    /*#cButtons {*/
        /*margin-left: 2.9%;*/
    /*}*/
/*}*/

@media screen and (min-width: 1250px){
    main {
        width: 50%;
        font-size: 2em;
        line-height: 25px;
        padding: 5px;
    }
}