#body{
    margin: 0;
    padding: 0;
}
#main1{
    /*height: 340px;*/
    width: 95%;
    margin: 0 auto;
    padding: 0;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    /*border: 1px solid #108f38;*/
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

#cButtons {
    margin: 8px auto 10px;
    width: 96%;
    padding: 0;
}

#head{
    margin: 0px auto;
    text-align: center;
    color: #FFFFFE;
    background-color: #59AC28;
    padding: 10px;
    width: 95%;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #108f38;
}

.btn {
    border: 1px solid #108F38;
    background: #108F38;
    border-radius: 0;
    width: 33.33333%;
    display: inline-block;
    margin-left: -0.36em;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFE;
}

.btn:hover {
    background-color: #23527c;
    color: #FFFFFE;
}


#prod{
    background-color: #FFFFFE;
    color: #108F38;
}

.fa-sign-out {
    position: fixed;
    top: 5px;
    right: 2px;
    color: #f7f7f7;
}

.rating{
    margin: 0;
    padding: 10px 5px 10px;
    font-family: Tahoma, Verdana, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    border: 1px solid #108f38;
    border-top: none;
}

.rating .ratingSymbol {
    /*color: #0000ff;*/
    font-weight: 900;
    float: right;
}

.rating .fa-arrow-down {
    color: #ff0000;
}

.rating .fa-minus {
    color: #0000ff;
}

.rating .fa-arrow-up {
    color: #108f38;
}

.pageButtons{
    width: 95%;
    margin: 0px auto;
    padding: 0px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}

#up, #down{
    padding: 0px;
    width: 95%;
    color: #FFFFFE;
    background-color: #108f38;
}

#up1{
    width: 95%;
    margin: 0px auto;
    padding: 5px;
    border-left: 1px solid #108f38;
    border-right: 1px solid #108f38;
}

.pageButtons  :hover{
    color: #108f38;
    width: 100%;
    background-color: #FFFFFE;
    border: 1px solid #108f38;
    margin-top: 0;
    padding-top: 0;
}

.pageButtons #down :hover{
    border-top: none;

}


