
/*@import "http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css";*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    margin: 0;
    /*font: 13px/20px "Open Sans", Tahoma, Verdana, sans-serif;*/
    color: #a7a599;
    /*background-color: #59AC28;*/

}
#settingsAlert{
    width: 100%;
}
#settingsAlertMessage{
    width: 100%;
    font-size: 2em;
    background-color: #f5e79e;
    text-align: center;
    color:#000000;
    padding:10px;
}
/* === Form === */
.form {
    width: 92%;
    margin: 5px auto;
}

.form .field {
    position: relative;
    margin: 0 auto;
}

.form .field i,
textarea i {
    /*font-size: 14px;*/
    padding-top: 7px;
    left: 0px;
    top: 0px;
    position: absolute;
    height: 24px;
    width: 24px;
    color: #FFFFFE;
    background: #108f38;
    text-align: center;
    /*line-height: 44px;*/
    transition: all 0.3s ease-out;
    pointer-events: none;
    cursor: default;
}
/* === Login === */
.login {
    position: relative;
    margin: 0 auto;
    width: 95%;
}

.login p:first-child {
    margin-top: 10px;
}

.login p.publicStatus {
    /*float: left;*/
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
}

.login p.publicStatus label {
    color: #a7a599;
    font-size: 12px;
    cursor: pointer;
}

.login p.submit {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* === Input Form === */
::-webkit-input-placeholder {
    color: #ded9cf;
    font-family:'Open Sans';
}

:-moz-placeholder {
    color: #ded9cf !important;
    font-family:'Open Sans';
    font-size: 8px;
}

.form input[type=text],
.form input[type=email],
textarea{
    border: 1px solid #108f38;
    font-family: 'Open Sans', Calibri, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 15px 10px 55px;
    position: relative;
    width: 100%;
    height: 24px;
    color: #676056;
    /*border: none;*/
    background: #f7f3eb;
    color: #777;
    transition: color 0.3s ease-out;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.form input[type=text],
.form input[type=email],
textarea {
    margin-bottom: 5px;
}

.form input[type=text]:hover ~ i,
.form input[type=email]:hover ~ i {
    color: #ded9cf;
}

.form input[type=text]:focus ~ i,
.form input[type=email]:focus ~ i {
    color: #108f38;
}

.form input[type=text]:focus,
.form input[type=email]:focus,
.form #sub:focus {
    outline: none;
}

.form #sub,
.form #res {
    display: inline;
    margin-top: 0px;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    padding: 10px 0;
    letter-spacing: 0;

    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(16,143,56,1);
    -moz-box-shadow:    inset 0px 0px 0px 0px rgba(16,143,56,1);
    box-shadow:         inset 0px 0px 0px 0px rgba(16,143,56,1);

    color: #fff;
    background-color: #108f38;
    text-shadow: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    position: relative;
    -webkit-animation: shadowFadeOut 0.4s;
    -moz-animation: shadowFadeOut 0.4s;
}

.form #sub:hover,input[type=submit]:focus,
.form #res:hover,input[type=reset]:focus{
    color: #fff;
    -webkit-box-shadow: inset 0px 46px 0px 0px rgba(89,172,40,1);
    -moz-box-shadow:    inset 0px 46px 0px 0px rgba(89,172,40,1);
    box-shadow:         inset 0px 46px 0px 0px rgba(89,172,40,1);
    -webkit-animation: shadowFade 0.4s;
    -moz-animation: shadowFade 0.4s;
}

@keyframes shadowFade {
    0% {
        -webkit-box-shadow: inset 0px 0px 0px 0px rgba(89,172,40,1);
        -moz-box-shadow:    inset 0px 0px 0px 0px rgba(89,172,40,1);
        box-shadow:         inset 0px 0px 0px 0px rgba(89,172,40,1);
        color: #fff;
    }
    100% {
        -webkit-box-shadow: inset 0px 46px 0px 0px rgba(89,172,40,1);
        -moz-box-shadow:    inset 0px 46px 0px 0px rgba(89,172,40,1);
        box-shadow:         inset 0px 46px 0px 0px rgba(89,172,40,1);
        color: #fff;
    }
}

@keyframes shadowFadeOut {
    0% {
        -webkit-box-shadow: inset 0px 46px 0px 0px rgba(89,172,40,1);
        -moz-box-shadow:    inset 0px 46px 0px 0px rgba(89,172,40,1);
        box-shadow:         inset 0px 46px 0px 0px rgba(89,172,40,1);
        color: #fff;
    }
    100% {
        -webkit-box-shadow: inset 0px 0px 0px 0px rgba(89,172,40,1);
        -moz-box-shadow:    inset 0px 0px 0px 0px rgba(89,172,40,1);
        box-shadow:         inset 0px 0px 0px 0px rgba(89,172,40,1);
        color: #fff;
    }
}

@-webkit-keyframes shadowFade {
    0% {
        -webkit-box-shadow: inset 0px 0px 0px 0px rgba(89,172,40,1);
        -moz-box-shadow:    inset 0px 0px 0px 0px rgba(89,172,40,1);
        box-shadow:         inset 0px 0px 0px 0px rgba(89,172,40,1);
        color: #fff;
    }
    100% {
        -webkit-box-shadow: inset 0px 46px 0px 0px rgba(89,172,40,1);
        -moz-box-shadow:    inset 0px 46px 0px 0px rgba(89,172,40,1);
        box-shadow:         inset 0px 46px 0px 0px rgba(89,172,40,1);
        color: #fff;
    }
}

@-webkit-keyframes shadowFadeOut {
    0% {
        -webkit-box-shadow: inset 0px 46px 0px 0px rgba(89,172,40,1);
        -moz-box-shadow:    inset 0px 46px 0px 0px rgba(89,172,40,1);
        box-shadow:         inset 0px 46px 0px 0px rgba(89,172,40,1);
        color: #fff;
    }
    100% {
        -webkit-box-shadow: inset 0px 0px 0px 0px rgba(89,172,40,1);
        -moz-box-shadow:    inset 0px 0px 0px 0px rgba(89,172,40,1);
        box-shadow:         inset 0px 0px 0px 0px rgba(89,172,40,1);
        color: #fff;
    }
}

@-moz-keyframes shadowFade {
    0% {
        -webkit-box-shadow: inset 0px 0px 0px 0px rgba(89,172,40,1);
        -moz-box-shadow:    inset 0px 0px 0px 0px rgba(89,172,40,1);
        box-shadow:         inset 0px 0px 0px 0px rgba(89,172,40,1);
        color: #fff;
    }
    100% {
        -webkit-box-shadow: inset 0px 46px 0px 0px rgba(89,172,40,1);
        -moz-box-shadow:    inset 0px 46px 0px 0px rgba(89,172,40,1);
        box-shadow:         inset 0px 46px 0px 0px rgba(89,172,40,1);
        color: #fff;
    }
}

@-moz-keyframes shadowFadeOut {
    0% {
        -webkit-box-shadow: inset 0px 44px 0px 0px rgba(89,172,40,1);
        -moz-box-shadow:    inset 0px 44px 0px 0px rgba(89,172,40,1);
        box-shadow:         inset 0px 44px 0px 0px rgba(89,172,40,1);
        color: #fff;
    }
    100% {
        -webkit-box-shadow: inset 0px 0px 0px 0px rgba(89,172,40,1);
        -moz-box-shadow:    inset 0px 0px 0px 0px rgba(89,172,40,1);
        box-shadow:         inset 0px 0px 0px 0px rgba(89,172,40,1);
        color: #fff;
    }
}

.form input[type="checkbox"] {
    margin-left: 5px;
}

.form input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    margin: -2px 4px 0 0;
    vertical-align:middle;
    background:url("../images/checkbox.png") left top no-repeat;
    cursor:pointer;
}
.form input[type="checkbox"]:checked + label span {
    background:url("../images/checkbox.png") -16px top no-repeat;
}

#clear{
    clear: both;
    margin: 0;
}

#buttLine{
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}

/*.submit{*/
    /*display: inline-block;*/
/*}*/

#description{
    height: 55px;
    padding: 2px 5px 5px 2px;
    resize: none;
}

#sub, #res{
    /*width: 120px;*/
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#sub{
    margin-right: 2px;
    width: 49%;
    float: left;
}

#res{
    width: 50%;
    float: right;
}

#panelType, #email, #description{
    background-color: #ffffff;
}

#description{
    text-indent: 29px;
    /*line-height: 20px;*/
    padding-left: 26px;
}

#changePasswordButton{
    padding: 3px 10px;
    display: none;
    background-color: #108f38;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;

  }

#changePasswordButton i{
    color: #FFFFFE;
    font-size: 18px;
    font-weight: 500;
}

#buttUp{
    clear: both;
}

@media screen and (min-device-width: 1300px){
    .login{
        width: 50%;
    }
    main{
        margin-top: 18px;
    }
    .form input[type=text],
    .form input[type=email]{
        font-size: 1.4em;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 36px;
        }

    textarea{
        font-size: 1.4em;
    }
    #description{
        text-indent: 20px;
        /*line-height: 20px;*/
        padding-left: 36px;

    }

    .form .field i,
    textarea i {
        padding-top: 10px;
        font-size: 1.6em;
        height: 36px;
        width: 36px;

    }

    .form input[type="checkbox"] {
        display:none;
    }


    #changePasswordButton{
        display: inline;
        float: right;
    }
    #rem{
        margin-top: 2px;
        margin-bottom: 7px
    }

    #rem input, #rem label{
        margin-top: 8px;
    }

}
