/*WEATHER LINES*/
#weatherTop{
    font-size: 14px;
    height: 11em;
    width: 100%;
    display: inline-block;
    padding: 0;

}
#weatherContent{
}
.weatherScroll{
    width: 2%;
    height: inherit;
    border: 1px solid #108f38;
    /*text-align: center;*/
    font-size: 10px;
    color:#ffffff;
    background-color: #108F38;
}

#scrollLeft{
    float:left;
    padding-left: 5px;
}
#scrollRight{
    float: right;
    padding-right: 5px;
    margin-left: -5px;
}
.contentLine {
    width: 32%;
    height: 11em;
    margin: 0px 0px 0 0px;
    padding: 5px 15px;
    border: 1px solid #108f38;
    border-top:none;
    float:left;
    background-color: #c8e5bc;

}
.contentLine:focus {
    outline:0;
}

/*DATE*/
.lineDate{
    width:100%;
}
.dayOfWeek{
    font-size:1.8em;
    text-align: center;
    margin-top:5px;
}
.shortDate{
    font-size: 1.3em;
    margin-top:10px;
    text-align: center;
}

/*TEMPERATURE*/
.temperature{
    clear:left;
    float:right;
    margin-right: 10px;
    font-size: 2em;
}
.lineNightTemp{
    margin-top: -50px;
}
.lineNightTemp span{
    font-size: 0.7em;
}
.lineDayTemp{
    margin-top:10px;
}
.lineDayTemp span{
    font-size: 0.7em;
}

/*WIND*/
.lineWind{
    float:left;
    width: 90px;
    margin-top: -47px;
    margin-left: 70px;
    font-size: 1.2em;
    clear:left;
}
.lineWind span{
    font-size: 0.7em;
}
/*SUN*/
.lineSun{
    float:left;
    width: 90px;
    margin-left: 70px;
    margin-top: -27px;
    font-size: 1.2em;
}
.lineSun span{
    font-size: 0.7em;
}
/*PRESSURE*/
.linePressure{
    float:left;
    width: 90px;
    margin-left: 70px;
    margin-top: -7px;
    font-size: 1.2em;
}
.linePressure span {
    font-size: 0.7em;
}
/*ICON*/
.wCondition{
    clear:left;
    width: 100%;
    height: 80px;
    float:left;
    margin-top:15px;
}
.lineIco{
    height: inherit;
    width: 80px;
    float:left;
    padding:20px -20px 20px 0px;
}
.lineIco ul{
    position: relative;
    margin-top: 30px;
    margin-left: -25px;
}
.lineIco ul li{
    font-size: 6em;
    text-align: left;
}
.description{
    height: 50%;
    text-transform: capitalize;
    text-align: justify;
}

#weatherGraph{
    height: 14em;
    padding:10px;
}
#dayInfo{
    clear:both;
    width:100%;
}
#weatherInfoToday h6{
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 4px auto;
}

#weatherInfoToday{
    border-radius: 2px;
    background-color: #C8E5BC;
    border: 1px solid #108f38;
    width: 26%;
    height: 8em;
    position: absolute;
    /*float:left;*/
    margin-left: -10px;
    margin-bottom: -10px;
    /*z-index: 5;*/
    /*border-right:1px solid #108F38;*/
}
.infoIcon ul{
    /*padding-bottom: -4px;*/
    margin-top: 0;
    padding-top: 0;
}
.infoIcon ul li{
    font-size: 3em;
}


.infoIcon p{
    height:2.5em;
    padding-top:20px;
    text-transform: capitalize;
    text-align: center;
    font-size: 0.25em;
}
.infoIcon{
    float:left;
    margin-top: -15px;

}
.infoValue{
    font-size: 1em;
    margin-top:5px;
    margin-left:70px;
}
#sunrise{
    margin-top:7px;
}
#sunset{
    margin-top:17px;
}
#windInfo{
    line-height: 1.2em;
    font-size: 1em;
    margin-top:10px;
    width:200px;
}

@media screen and (min-device-width: 769px) and (max-device-width: 900px){
    #windInfo{
        width:150px;
        font-size: 0.92em;
    }
}

@media screen and (min-device-width: 901px)and (max-device-width: 1200px){
    #windInfo{
        width:175px;
        font-size: 0.96em;
    }
}

#duringDay{
    width: 100%;
}
.weatherDuringDay{
    width: 16% ;
    height: 11em;
    border-right: 1px solid #108f38;
    text-transform: capitalize;
    text-align: center;
}
.weatherDuringDay h6{
    margin-top:0;
    padding-bottom: 3px;
    font-size: 1.3em;
    background-color: #59AC28;
    color:#ffffff;
    border-top: 1px solid #108F38;
    border-bottom: 1px solid #108F38;

}

#weatherNight{
    float:right;
    border-right:none;
}

#weatherEvening{
    float:right;
}

#weatherDay{
    float:right;
}
#weatherMorning{
    float:right;
    border-left: 1px solid #108f38;
}
.dailyTempValue{
    margin-top: 30px;
    font-size: 1.5em;
}
.dailyTempValue span{
    font-size: 0.8em;
}

#threeDays{
    background-color: #FFFFFE;
    color: #108f38;
}

.btn-default:focus {
    outline:0;
    border-color: #108f38;
}

@media screen and (min-device-width: 769px) and (max-device-width: 800px){
    .lineIco{
        width: 50px;
    }
    .lineIco ul li{
        font-size: 4em;
    }
    .linePressure, .lineWind, .lineSun{
        margin-left: 32px;
        font-size: 1em;
    }

    .temperature{
        clear:left;
        float:right;
        margin-right: 0px;
        font-size: 1.1em;
    }

}

@media screen and (min-device-width: 801px)and (max-device-width: 900px){
    .lineIco{
        width: 50px;
    }
    .lineIco ul li{
        font-size: 4.5em;
    }
    .linePressure, .lineWind, .lineSun{
        margin-left: 35px;
        font-size: 1.1em;
    }

    .temperature{
        clear:left;
        float:right;
        margin-right: 0px;
        font-size: 1.2em;
    }
}

@media screen and (min-device-width: 901px)and (max-device-width: 1150px){
    .lineIco{
        width: 50px;
    }
    .lineIco ul li{
        font-size: 5em;
    }
    .linePressure, .lineWind, .lineSun{
        margin-left: 45px;
        font-size: 1.1em;
    }

    .temperature{
        clear:left;
        float:right;
        margin-right: 0px;
        font-size: 1.4em;
    }
}

/*@media screen and (min-device-width: 1351px)and (max-device-width: 1650px){*/
    /*.lineIco{*/
        /*width: 50px;*/
    /*}*/
    /*.lineIco ul li{*/
        /*font-size: 4em;*/
    /*}*/
    /*.linePressure, .lineWind, .lineSun{*/
        /*margin-left: 32px;*/
        /*font-size: 1em;*/
    /*}*/

    /*.temperature{*/
        /*clear:left;*/
        /*float:right;*/
        /*margin-right: 0px;*/
        /*font-size: 1.1em;*/
    /*}*/
/*}*/

