<!DOCTYPE html >
        <html ng-app="passwordChange">
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Awesome Flat Login Form" />
    <meta name="keywords" content="Login, Flat, HTML5, CSS3" />
    <meta name="author" content="Wahid Anggara - LunarPixel" />
    <title>Settings</title>

    <link href="../resources/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../resources/css/font-awesome-4.2.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">-->
    <link rel="stylesheet" href="../resources/css/jquery-ui.css">
    <link rel="stylesheet" href="../resources/css/production.css">
    <link rel="stylesheet" href="../resources/css/changePassword.css">

    <link rel="stylesheet" href="../resources/css/pages.css">

    <!--<link href="resources/css/login_style.css" rel="stylesheet" type="text/css">-->
    <link href="../resources/css/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../resources/css/font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../resources/js/jquery-ui1.min.js"></script>
    <!--<script src="../resources/js/loginPage.js"></script>-->
    <script src="../resources/js/bootstrap.min.js"></script>
    <script src="../resources/js/vars.js"></script>
    <script src="../resources/js/device/lib/device.min.js"></script>
    <script src="../resources/js/pages.js"></script>





</head>
<body>
<div class="container-fluid" ng-controller="passwordController">
    <header class="header"> <div id="logoMobile"><img src="../resources/images/logo_mobile.svg"></div><span style="font-size: 14px">Change password
    </span></header>
    <div id="rightBanner" ng-show="showRightBanner">The password has been changed successfully</div>
    <div id="wrongBanner" ng-show="showWrongBanner">You have entered wrong password</div>

    <main>
        <div  class="login"> <!-- Login -->

            <div class="form"  id="logForm"  >
                <!--<div id="rightBanner" ng-show="showRightBanner">The password has been changed successfully</div>-->
                <!--<div id="wrongBanner" ng-show="showWrongBanner">You have entered wrong password</div>-->

                <p class="field" id="firstInput">
                    <input type="password" id="oldPassword" maxlength="50" placeholder="Enter your old password" required ng-model="userOldEnterPassword" ng-change="comperingPasswordFunction()"/>
                    <i class="fa fa-lock"></i>
                    <span ng-show="showFalseOld"><i class="fa fa-times"></i></span>
                    <span ng-show="showRightOld"><i class="fa fa-check"></i></span>
                </p>

                <p class="field">
                    <input type="password" id="firstPassword" maxlength="50" placeholder="Enter your new password" required ng-model="userFirstNewPassword" ng-change="comperingNewPassword(userFirstNewPassword, userSecondNewPassword)" ng-disabled="newInputDisabled"/>
                   <i class="fa fa-lock"></i>
                    <span ng-show="showFalseNew"><i class="fa fa-times"></i></span>
                    <span ng-show="showRightNew"><i class="fa fa-check"></i></span>
                </p>

                <p class="field">
                    <input type="password" id="secondPassword" maxlength="50" placeholder="Confirm your password" required ng-model="userSecondNewPassword" ng-change="comperingNewPassword(userFirstNewPassword, userSecondNewPassword)" ng-disabled="newInputDisabled"/>
                    <i class="fa fa-lock"></i>
                    <span ng-show="showFalseNew"><i class="fa fa-times"></i></span>
                    <span ng-show="showRightNew"><i class="fa fa-check"></i></span>
                </p>

                <div id="buttLine">
                    <p class="submit"><button id="sub" ng-click="subFields(userOldEnterPassword, userFirstNewPassword)" ng-disabled="subButtonDisabled" ><i class="fa fa-floppy-o"></i></button></p>
                    <p class="submit"><button id="res" ng-click="resFields()"><i class="fa fa-times"></i></button></p>
                </div>

                <!--<p> {{ userOldEnterPassword }} </p>-->
                <!--<p> {{ userFirstNewPassword }} </p>-->
                <!--<p> {{ userSecondNewPassword }} </p>-->
            </div>
        </div> <!--/ Login-->
    </main>

</div>

<footer data-role="footer" data-position="fixed">
</footer>

<script type="text/javascript" src="../resources/js/angular.min.js"></script>
<script type="text/javascript" src="../resources/js/app.js"></script>

</body>
</html>


