@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-ibpu80');
	src:url('fonts/icomoon.eot?#iefix-ibpu80') format('embedded-opentype'),
		url('fonts/icomoon.woff?-ibpu80') format('woff'),
		url('fonts/icomoon.ttf?-ibpu80') format('truetype'),
		url('fonts/icomoon.svg?-ibpu80#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-factory:before {
	content: "\e60c";
}

.icon-furtree:before {
	content: "\e60d";
}

.icon-solarpanel:before {
	content: "\e60e";
}

.icon-tree:before {
	content: "\e60f";
}

.icon-plant:before {
	content: "\e610";
}

.icon-teapot:before {
	content: "\e60a";
}

.icon-tv:before {
	content: "\e60b";
}

.icon-coffee:before {
	content: "\e600";
}

.icon-desktop:before {
	content: "\e601";
}

.icon-dishwasher:before {
	content: "\e602";
}

.icon-iron:before {
	content: "\e603";
}

.icon-laptop:before {
	content: "\e604";
}

.icon-microvawe:before {
	content: "\e605";
}

.icon-tv19-36:before {
	content: "\e606";
}

.icon-tv53-61:before {
	content: "\e607";
}

.icon-vacuming:before {
	content: "\e608";
}

.icon-washer:before {
	content: "\e609";
}

