<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<context:component-scan base-package="nl.rooftopenergy.bionic" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/tomcat" />
		<property name="username" value="rooftop" />
		<property name="password" value="energy" />
	</bean>


	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="packagesToScan" value="nl.rooftopenergy.bionic.entity" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaDialect">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
		</property>
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="generateDdl" value="false" />
				<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect"/>
			</bean>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager" />

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<!--
		INIT REST COMPONENTS
	 -->



	<bean id="objectMapper" class="org.codehaus.jackson.map.ObjectMapper" />

	<!-- Spring Security Settings-->

	<security:http entry-point-ref="restAuthenticationEntryPoint">
		<security:intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<security:intercept-url pattern="/logged*" access="ROLE_USER"/>
		<security:intercept-url pattern="/rest/*" access="ROLE_USER"/>

		<security:form-login
				authentication-success-handler-ref="successHandler"
				authentication-failure-handler-ref="failureHandler"/>
		<security:remember-me key="iu123yr"/>
		<security:logout delete-cookies="JSESSIONID"/>
	</security:http>

	<bean id="restAuthenticationEntryPoint"
		  class="nl.rooftopenergy.bionic.security.RestAuthenticationEntryPoint"/>
	<bean id="successHandler"
		  class="nl.rooftopenergy.bionic.security.SecurityUrlAuthenticationSuccessHandler"/>
	<bean id="failureHandler"
		  class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler"/>

	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider>
			<security:jdbc-user-service data-source-ref="dataSource"
										users-by-username-query=
												"select username,password, enabled from users where username=?"
										authorities-by-username-query=
												"select username, role from user_roles where username =?  " />
		</security:authentication-provider>
	</security:authentication-manager>

</beans>